html,
body {
    background-color: #D1D8DC;
}

.api {
    margin-top: 3.5em;
}

.bg-dark {
    background-color: #004382 !important;
}

.navbar-nav .nav-link:hover, .nav-link:focus{
    border: 1px solid rgb(71, 234, 255);
}

li.nav-item{
    color:black;
}

.card-body {
    background-color: #B3B8BC;
    color: white;
}

.btn-primary {
    color: #D1D8DC;
    background-color: #004382;
    border: 1px solid black;
}

main{
    width: 50%; 
    margin:auto ;  
} 

.card {
    width:100%;
    margin-bottom: 3em;
    text-align: center;
}

h1 {
    color:#004382;
    font-family: 'Source Code Pro', monospace;
}

h3 {
    color:#004382;
    font-family: 'Source Code Pro', monospace;
}

.col-sm-6 {
    flex: 0 0 auto;
    width: 100%;
}

.btn-light {
    color: black;
    background-color: #ac8c0e;
    border: 1px solid rgb(71, 234, 255);
    box-shadow:1px 5px 10px rgba(0,0,0,1);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

.json {
    color:white;
    background-color: #212529;
    padding: 0.5em;
}

code {
    color:#2997DB;
}

th td {
    color:white;
}