{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">GET https://apicolorize.me/api/v1/colors/</code>
        <p class="card-text">To display the list of colors</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">GET https://apicolorize.me/api/v1/colors/{codeColors}</code>
        <p class="card-text">To display the detail of a color. </p>
          <p><strong>Parameters</strong></p>
          <table class="table table-dark table-borderless">
            <tbody>
              <tr>
                <th>codeColors</th>
                <td>required</td>
                <td>int</td>
                <td>id color</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">POST https://apicolorize.me/api/v1/colors/</code>
        <p class="card-text">insert a color.</p>
        <p><strong>JSON</strong></p>
        <code class="json">{ "name" : "test", "hex" : "#111111" }</code>
      </div>
    </div>
  </div>
</div>
{% endblock %}