{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">GET https://apicolorize.me/api/v1/files/{codeUser}</code>
        <p class="card-text">To display the list of files with their user.</p>
      <p> <strong>Parameters</strong></p>
      <p> codeUser : required (int id user) </p>
      <p><strong>User authentication required</strong></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">GET https://apicolorize.me/api/v1/files/palettes/{codeUser}</code>
        <p class="card-text">To display the list of files with their associated palettes. </p>
      <p><strong>Parameters</strong> </p>
      <p>codeUser : required (int id user)</p>
      <p> <strong>User authentication required</strong></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">GET https://apicolorize.me/api/v1/files/{codeFiles}/{codeUser}</code>
        <p class="card-text">To display the detail of a file with their user.</p>
      <p> <strong>Parameters</strong>  </p>
      <p>codeFiles : required (int id file)</p>
      <p> codeUser : required (int id user) </p>
      <p><strong>User authentication required</strong></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">GET https://apicolorize.me/api/v1/files/{codeFiles}/palettes/{codeUser}</code>
        <p class="card-text">To display the detail of a file with their associated palettes. </p>
      <p><strong>Parameters</strong></p>
      <p>  codeFiles : required (int id file)</p>
      <p> codeUser : required (int id user) </p>
      <p><strong>User authentication required</strong></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">PATCH https://apicolorize.me/api/v1/files/{codeFiles}/{codeUser}</code>
        <p class="card-text">modify a file <strong>JSON required</strong> { "name" : "desired modification" } </p>
        <p><strong>Parameters</strong>  </p>
        <p>codeFiles : required (int id file), codeUser : required (int id user) </p>
        <p><strong>User authentication required</strong></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">PATCH https://apicolorize.me/api/v1/files/{codeFiles}/{addPalette}/{codeUser}</code>
        <p class="card-text">modify a file and adding a palette </p>
      <p><strong>JSON required</strong> { "name" : "current palette" } </p>
      <p><strong>Parameters</strong>  
      <p>codeFiles : required (int id file)</p>
      <p> addPalette : required (int id palette)</p>
      <p> codeUser : required (int id user) </p>
      <p><strong>User authentication required</strong></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">POST https://apicolorize.me/api/v1/files/user/{codeUser}</code>
        <p class="card-text">create a folder for a user </p>
      <p><strong>JSON</strong> { "name" : "test" } </p>
      <p><strong>Parameters</strong>  codeUser : required (int id user) </p>
      <p><strong>User authentication required</strong></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">DELETE https://apicolorize.me/api/v1/files/{codeFiles}/{codeUser}</code>
        <p class="card-text">A user deletes a folder from their creation</p>
      <p> <strong>Parameters</strong>  </p>
      <p>codeFiles : required (int id file)</p>
      <p> codeUser : required (int id user) </p>
      <p><strong>User authentication required</strong></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">DELETE https://apicolorize.me/api/v1/files/{codeFiles}/palettes/{codePalette}/{codeUser}</code>
        <p class="card-text">A user removes a palette from a folder of their creation</p>
      <p> <strong>Parameters</strong>  </p>
      <p>codeFiles : required (int id file)</p>
      <p> codePalette : required (int id palette)</p>
      <p> codeUser : required (int id user) </p>
      <p><strong>User authentication required</strong></p>
      </div>
    </div>
  </div>
</div>

{% endblock %}