{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">GET https://apicolorize.me/api/v1/files/{codeUser}</code>
        <p class="card-text">To display the list of files with their user.</p>
        <p><strong>Parameters</strong></p>
        <table class="table table-dark table-borderless">
          <tbody>
            <tr>
              <th>codeUser</th>
              <td>required</td>
              <td>int</td>
              <td>id user</td>
            </tr>
          </tbody>
        </table>
        <p><strong>User authentication required</strong></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">GET https://apicolorize.me/api/v1/files/palettes/{codeUser}</code>
        <p class="card-text">To display the list of files with their associated palettes. </p>
        <p><strong>Parameters</strong></p>
        <table class="table table-dark table-borderless">
          <tbody>
            <tr>
              <th>codeUser</th>
              <td>required</td>
              <td>int</td>
              <td>id user</td>
            </tr>
          </tbody>
        </table>
      <p> <strong>User authentication required</strong></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">GET https://apicolorize.me/api/v1/files/{codeFiles}/{codeUser}</code>
        <p class="card-text">To display the detail of a file with their user.</p>
        <p><strong>Parameters</strong></p>
        <table class="table table-dark table-borderless">
          <tbody>
            <tr>
              <th>codeUser</th>
              <td>required</td>
              <td>int</td>
              <td>id user</td>
            </tr>
            <tr>
              <th>codeFiles</th>
              <td>required</td>
              <td>int</td>
              <td>id file</td>
            </tr>
          </tbody>
        </table>
      <p><strong>User authentication required</strong></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">GET https://apicolorize.me/api/v1/files/{codeFiles}/palettes/{codeUser}</code>
        <p class="card-text">To display the detail of a file with their associated palettes. </p>
        <p><strong>Parameters</strong></p>
        <table class="table table-dark table-borderless">
          <tbody>
            <tr>
              <th>codeUser</th>
              <td>required</td>
              <td>int</td>
              <td>id user</td>
            </tr>
            <tr>
              <th>codeFiles</th>
              <td>required</td>
              <td>int</td>
              <td>id file</td>
            </tr>
          </tbody>
        </table>
      <p><strong>User authentication required</strong></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">PATCH https://apicolorize.me/api/v1/files/{codeFiles}/{codeUser}</code>
        <p class="card-text">modify a file</p>
        <p><strong>User authentication required</strong></p>
        <p><strong>Parameters</strong></p>
        <table class="table table-dark table-borderless">
          <tbody>
            <tr>
              <th>codeUser</th>
              <td>required</td>
              <td>int</td>
              <td>id user</td>
            </tr>
            <tr>
              <th>codeFiles</th>
              <td>required</td>
              <td>int</td>
              <td>id file</td>
            </tr>
          </tbody>
        </table>
        <p><strong>JSON</strong></p>
        <code class="json">{ "name" : "desired modification" }</code>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">PATCH https://apicolorize.me/api/v1/files/{codeFiles}/{addPalette}/{codeUser}</code>
        <p class="card-text">modify a file and adding a palette </p>
      <p><strong>User authentication required</strong></p>
        <p><strong>Parameters</strong></p>
        <table class="table table-dark table-borderless">
          <tbody>
            <tr>
              <th>codeUser</th>
              <td>required</td>
              <td>int</td>
              <td>id user</td>
            </tr>
            <tr>
              <th>codeFiles</th>
              <td>required</td>
              <td>int</td>
              <td>id file</td>
            </tr>
            <tr>
              <th>addPalette</th>
              <td>required</td>
              <td>int</td>
              <td>id palette</td>
            </tr>
          </tbody>
        </table>
        <p><strong>JSON</strong></p>
        <code class="json">{ "name" : "current palette" }</code>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">POST https://apicolorize.me/api/v1/files/user/{codeUser}</code>
        <p class="card-text">create a folder for a user </p>
        <p><strong>User authentication required</strong></p>
        <p><strong>Parameters</strong></p>
        <table class="table table-dark table-borderless">
          <tbody>
            <tr>
              <th>codeUser</th>
              <td>required</td>
              <td>int</td>
              <td>id user</td>
            </tr>
          </tbody>
        </table>
        <p><strong>JSON</strong></p>
        <code class="json">{ "name" : "test" }</code>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">DELETE https://apicolorize.me/api/v1/files/{codeFiles}/{codeUser}</code>
        <p class="card-text">A user deletes a folder from their creation</p>
        <p><strong>User authentication required</strong></p>
        <p><strong>Parameters</strong></p>
        <table class="table table-dark table-borderless">
          <tbody>
            <tr>
              <th>codeFiles</th>
              <td>required</td>
              <td>int</td>
              <td>id file</td>
            </tr>
            <tr>
              <th>codeUser</th>
              <td>required</td>
              <td>int</td>
              <td>id user</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">DELETE https://apicolorize.me/api/v1/files/{codeFiles}/palettes/{codePalette}/{codeUser}</code>
        <p class="card-text">A user removes a palette from a folder of their creation</p>
        <p><strong>Parameters</strong></p>
        <table class="table table-dark table-borderless">
          <tbody>
            <tr>
              <th>codeFiles</th>
              <td>required</td>
              <td>int</td>
              <td>id file</td>
            </tr>
            <tr>
              <th>codePalette</th>
              <td>required</td>
              <td>int</td>
              <td>id palette</td>
            </tr>
            <tr>
              <th>codeUser</th>
              <td>required</td>
              <td>int</td>
              <td>id user</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}