{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">GET https://apicolorize.me/api/v1/palettes/colors</code>
        <p class="card-text">To display the list of palettes with their associated colors.</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">GET https://apicolorize.me/api/v1/palettes/features</code>
        <p class="card-text">To display the list of palettes with features label.</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">GET https://apicolorize.me/api/v1/palettes/files</code>
        <p class="card-text">To display the list of palettes with their associated files. <strong>User authentication required</strong></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">GET https://apicolorize.me/api/v1/palettes/user</code>
        <p class="card-text">To display the list of palettes with their associated users and its owner.</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">GET https://apicolorize.me/api/v1/palettes/themes</code>
        <p class="card-text">To display the list of palettes with their associated themes.</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">GET https://apicolorize.me/api/v1/palettes/{codePalettes}</code>
        <p class="card-text">To display the detail of a palette. </p>
        <p><strong>Parameters</strong></p>
        <table class="table table-dark table-borderless">
          <tbody>
            <tr>
              <th>codePalettes</th>
              <td>required</td>
              <td>int</td>
              <td>id palette</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">GET https://apicolorize.me/api/v1/palettes/{codePalettes}/colors</code>
        <p class="card-text">To display the detail of a palette with their associated colors. </p>
        <p><strong>Parameters</strong></p>
        <table class="table table-dark table-borderless">
          <tbody>
            <tr>
              <th>codePalettes</th>
              <td>required</td>
              <td>int</td>
              <td>id palette</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">GET https://apicolorize.me/api/v1/palettes/paletteoruser/{string}</code>
        <p class="card-text">searches for the name of a palette or a user to display palettes </p>
        <p><strong>Parameters</strong></p>
        <table class="table table-dark table-borderless">
          <tbody>
            <tr>
              <th>string</th>
              <td>required</td>
              <td>string</td>
              <td>name palette or name user</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">GET https://apicolorize.me/api/v1/palettes/{codePalettes}/files</code>
        <p class="card-text">To display the detail of a palette with their associated files. </p>
        <p><strong>User authentication required</strong></p>
        <p><strong>Parameters</strong></p>
        <table class="table table-dark table-borderless">
          <tbody>
            <tr>
              <th>codePalettes</th>
              <td>required</td>
              <td>int</td>
              <td>id palette</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">GET https://apicolorize.me/api/v1/palettes/{codePalettes}/themes</code>
        <p class="card-text">To display the detail of a palette with their associated themes. </p>
        <p><strong>Parameters</strong></p>
        <table class="table table-dark table-borderless">
          <tbody>
            <tr>
              <th>codePalettes</th>
              <td>required</td>
              <td>int</td>
              <td>id palette</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">GET https://apicolorize.me/api/v1/palettes/{codePalettes}/user</code>
        <p class="card-text">To display the detail of a palette with their associated users and its owner.</p>
        <p><strong>Parameters</strong></p>
        <table class="table table-dark table-borderless">
          <tbody>
            <tr>
              <th>codePalettes</th>
              <td>required</td>
              <td>int</td>
              <td>id palette</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">GET https://apicolorize.me/api/v1/palettes/searchBySort?sort={sort}&filter={filter}&page={page}</code>
        <p class="card-text">To display the detail of a palette according the sort (new , save or likes) and the filter ( none for all, 1 for generated , and 2 for the others). You can add page with the number for the pagination (result = 20 palettes by page). </p> 
        <p><strong>Parameters</strong></p>
        <table class="table table-dark table-borderless">
          <tbody>
            <tr>
              <th>Sort</th>
              <td>required</td>
              <td>string</td>
              <td>new, save or likes</td>
            </tr>
            <tr>
              <th>filter</th>
              <td>optional</td>
              <td>int</td>
              <td>1, 2</td>
            </tr>
            <tr>
              <th>page</th>
              <td>optional</td>
              <td>int</td>
              <td>to display palettes 20 by page</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">GET https://apicolorize.me/api/v1/palettes/searchByTheme?theme={theme}&sort={sort}&filter={filter}&page={page}</code>
        <p class="card-text">To display the detail of a palette according the sort (new , save or likes) and the filter ( none for all, 1 for generated , and 2 for the others). You can add page with the number for the pagination (result = 20 palettes by page). </p>
        <p><strong>Parameters</strong></p>
        <table class="table table-dark table-borderless">
          <tbody>
            <tr>
              <th>theme</th>
              <td>required</td>
              <td>string</td>
              <td>name theme</td>
            </tr>
            <tr>
              <th>Sort</th>
              <td>required</td>
              <td>string</td>
              <td>new, save or likes</td>
            </tr>
            <tr>
              <th>filter</th>
              <td>optional</td>
              <td>int</td>
              <td>1, 2</td>
            </tr>
            <tr>
              <th>page</th>
              <td>optional</td>
              <td>int</td>
              <td>to display palettes 20 by page</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">PATCH https://apicolorize.me/api/v1/palettes/{codeUser}/{codePalette}</code>
        <p class="card-text">modify a palette with its colors</p>
        <p><strong>User authentication required</strong></p>
        <p><strong>Parameters</strong></p>
        <table class="table table-dark table-borderless">
          <tbody>
            <tr>
              <th>codeUser</th>
              <td>required</td>
              <td>int</td>
              <td>id user</td>
            </tr>
            <tr>
              <th>codePalettes</th>
              <td>required</td>
              <td>int</td>
              <td>id palette</td>
            </tr>
          </tbody>
        </table>
        <p><strong>JSON</strong></p>
        <code class="json">{ "name": "palette name", "colors": [ { "name": "magenta", "hex": "#11111" }, { "name": "green", "hex": "#22222" }, { "name": "blue", "hex": "#33333" }, { "name": "red", "hex": "#4444" }, { "name": "yellow", "hex": "#55555" } ], "themes": [ { "name": "existing theme" } ] }</code>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">PATCH https://apicolorize.me/api/v1/palettes/{codePalette}/features</code>
        <p class="card-text">add or remove features from a palette</p>
        <p><strong>ADMIN authentication required</strong></p>
        <p><strong>Parameters</strong></p>
        <table class="table table-dark table-borderless">
          <tbody>
            <tr>
              <th>codePalettes</th>
              <td>required</td>
              <td>int</td>
              <td>id palette</td>
            </tr>
          </tbody>
        </table>
        <p><strong>JSON</strong></p>
        <code class="json">{ "features" : true or false }</code>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">PATCH https://apicolorize.me/api/v1/palettes/{codePalette}/like</code>
        <p class="card-text">Add a like to a palette </p>
        <p><strong>User authentication required</strong></p>
        <p><strong>Parameters</strong></p>
        <table class="table table-dark table-borderless">
          <tbody>
            <tr>
              <th>codePalettes</th>
              <td>required</td>
              <td>int</td>
              <td>id palette</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">PATCH https://apicolorize.me/api/v1/palettes/{codePalette}/dislike</code>
        <p class="card-text">Remove a like from a palette </p>
        <p><strong>User authentication required</strong></p>
        <p><strong>Parameters</strong></p>
        <table class="table table-dark table-borderless">
          <tbody>
            <tr>
              <th>codePalettes</th>
              <td>required</td>
              <td>int</td>
              <td>id palette</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">POST https://apicolorize.me/api/v1/palettes/{codeUser}</code>
        <p class="card-text">create a palette with its colors </p>
        <p><strong>ADMIN authentication required</strong></p>
        <p><strong>Parameters</strong></p>
        <table class="table table-dark table-borderless">
          <tbody>
            <tr>
              <th>codeUser</th>
              <td>required</td>
              <td>int</td>
              <td>id user</td>
            </tr>
          </tbody>
        </table>
        <p><strong>JSON</strong></p>
        <code class="json">{ "name": "palette name", "colors": [ { "name": "magenta", "hex": "#11111" }, { "name": "green", "hex": "#22222" }, { "name": "blue", "hex": "#33333" }, { "name": "red", "hex": "#4444" }, { "name": "yellow", "hex": "#55555" } ], "themes": [ { "name": "existing theme" } ] }</code>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">DELETE https://apicolorize.me/api/v1/palettes/{codePalettes}/{codeUser}</code>
        <p class="card-text">A user removes a palette from their creation </p>
        <p><strong>User authentication required</strong></p>
        <p><strong>Parameters</strong></p>
        <table class="table table-dark table-borderless">
          <tbody>
            <tr>
              <th>codeUser</th>
              <td>required</td>
              <td>int</td>
              <td>id user</td>
            </tr>
            <tr>
              <th>codePalettes</th>
              <td>required</td>
              <td>int</td>
              <td>id palette</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}