{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">GET https://apicolorize.me/api/v1/user/</code>
        <p class="card-text">To display the list of users </p>
      <p><strong>User authentication required</strong></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">GET https://apicolorize.me/api/v1/user/{codeUser}</code>
        <p class="card-text">To display the detail of a user.</p>
      <p> <strong>Parameters</strong>  </p>
      <p>codeUser : required (int id user)</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">GET https://apicolorize.me/api/v1/user/{codeUser}/palettes/favorites</code>
        <p class="card-text">To display the detail of a user with his favorite palettes. </p>
      <p><strong>Parameters</strong></p>
      <p>  codeUser : required (int id user) </p>
      <p><strong>User authentication required</strong></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">GET https://apicolorize.me/api/v1/user/{codeUser}/palettes/likes</code>
        <p class="card-text">To display the detail of a user with his likes palettes. <strong>Parameters</strong>  codeUser : required (int id user) <strong>User authentication required</strong></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">GET https://apicolorize.me/api/v1/user/{codeUser}/palettes/like?page={page}</code>
        <p class="card-text">To display the detail of a user with his likes palettes and with a pagination. <strong>Parameters</strong>  codeUser : required (int id user), page : required (int number page) <strong>User authentication required</strong></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">GET https://apicolorize.me/api/v1/user/{codeUser}/palettes/created</code>
        <p class="card-text">To display the detail of a user with its created palettes. </p>
      <p><strong>Parameters</strong> </p>
      <p> codeUser : required (int id user)</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">GET https://apicolorize.me/api/v1/user/{codeUser}/files</code>
        <p class="card-text">To display the detail of a user with its created files.</p>
      <p> <strong>Parameters</strong> </p>
      <p> codeUser : required (int id user) </p>
      <p><strong>User authentication required</strong></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">GET https://apicolorize.me/api/v1/user/{codeUser}/files/{codeFiles}</code>
        <p class="card-text">To display the detail of a user with a requested file.</p>
      <p> <strong>Parameters</strong> </p>
      <p> codeUser : required (int id user)</p>
      <p> codeFiles : required (int id file) </p>
      <p><strong>User authentication required</strong></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">PATCH https://apicolorize.me/api/v1/user/{codeUser}</code>
        <p class="card-text">modify a user. </p>
      <p><strong>JSON</strong> </p>
      <p>{ "username" : "test", "email" : "tata@test.io", "password" : "test" } </p>
      <p><strong>Parameters</strong>  </p>
      <p>codeUser : required (int id user) </p>
      <p><strong>User authentication required</strong></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">POST https://apicolorize.me/api/v1/user/</code>
        <p class="card-text">insert a user. </p>
      <p>  <strong>JSON</strong> </p>
      <p>{ "username" : "test", "email" : "tata@test.io", "password" : "test" }</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <code class="card-title">DELETE https://apicolorize.me/api/v1/user/{codeUser}</code>
        <p class="card-text">Delete a user </p>
      <p><strong>Parameters</strong> </p>
      <p> codeUser : required (int id user) </p>
      <p><strong>User authentication required</strong></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}